// URLs
$url-header-circles: 'https://checkout.sandbox.netsuite.com/c.3295076/site/images/circles-color.png';

// Colors

// Blues
$chathams-blue: #125670;
$chathams-blue-dark: #104D65;
$eden: #0F4C63;
$astral: #337AB7;

// Oranges
$vermilion: #FA4C06;
$trinidad: #E54B0D;

// Grays
$silver: #bebebe;