
.header-logo {
	display: block;
	line-height: $sc-main-nav-height;
	width: $sc-main-nav-width;
	margin: 0 auto;

	@media (min-width: $screen-sm-min) {
		width: auto;
	}
}

.header-logo-image {
	width: 90%;
	vertical-align: middle;

	@media (max-width: $screen-sm-max) {
		width: auto;
		height: 50px;
	}
}

.header-logo-sitename{}